.MyOrders{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 100px;
}

.MyOrders hr{
    width: 200px;
    height:6px;
    border-radius: 20px;
    background: #1d1c1c;
    border: none;
}

.MyOrders h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 5px;
}


.MyOrders-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

.MyOrders-products img{
    width: 90%;
}

.MyOrders-custom img{
    width: 150%;
    
}