.list-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px ;
    background: white;
}
.listorder-format-main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 55px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    
}

.listorder-format{
    align-items: center;
    font-weight: 500;
}

.listorder-order-icon img{
    width: 100%;

    
}


.listorder-allorders-custom{
    overflow-y: auto;
}

@media(max-width:800px){
    .list-order{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;

    }
    .listorder-format-main{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
    }
    .listorder-order-icon{
        height: 60px;
    }
}

